In [7]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

connection_string = "postgres:postgres@localhost:5432/soybeans_trade"
engine = create_engine(f'postgresql://{connection_string}')

#Confirm tables
print(engine.table_names())

['illinois_transformed', 'iowa_transformed', 'soybean_transformed', 'crude_oil_transformed']

In [8]:
soybean_file = "../output/soybean_transformed.csv"
crude_oil_file = "../output/crude_oil_transformed.csv"
iowa_file = "../output/iowa_transformed.csv"
illinois_file = "../output/illinois_transformed.csv"

In [9]:
#convert csv to data frame and convert column values to float
soybean_df = pd.read_csv(soybean_file)
crude_oil_df = pd.read_csv(crude_oil_file)
iowa_df = pd.read_csv(iowa_file)
illinois_df = pd.read_csv(illinois_file)
illinois_df.head()

         Date  Illinois_Precip  Illinois_Temp
0  2014-01-01         0.043396      19.971698
1  2014-01-02         0.156204      11.796296
2  2014-01-03         0.009730       1.216216
3  2014-01-04         0.010769      26.971154
4  2014-01-05         0.282353      17.254902

In [10]:
soybean_df.to_sql(name='soybean_transformed', con=engine, if_exists='append', index=False)
crude_oil_df.to_sql(name='crude_oil_transformed', con=engine, if_exists='append', index=False)
iowa_df.to_sql(name='iowa_transformed', con=engine, if_exists='append', index=False)
illinois_df.to_sql(name='illinois_transformed', con=engine, if_exists='append', index=False)