In [ ]:
## Local Data ETL

### Instructions

* Create a `customer_db` database in pgAdmin 4 then create the following two tables within:

  * A `premise` table that contains the columns `id`, `premise_name` and `county_id`.

  * A `county` table that contains the columns `id`, `county_name`, `license_count` and `county_id`.

  * Be sure to assign a primary key, as Pandas will not be able to do so.

* In Jupyter Notebook perform all ETL.

* **Extraction**

  * Put each CSV into a pandas DataFrame.

* **Transform**

  * Copy only the columns needed into a new DataFrame.

  * Rename columns to fit the tables created in the database.

  * Handle any duplicates. **HINT:** some locations have the same name but each license number is unique.

  * Set index to the previously created primary key.

* **Load**

  * Create a connection to database.

  * Check for a successful connection to the database and confirm that the tables have been created.

  * Append DataFrames to tables. Be sure to use the index set earlier.

* Confirm successful **Load** by querying database.

* Join the two tables and select the `id` and `premise_name` from the `premise` table and `county_name` from the `county` table.

In [73]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [74]:
#### Extract CSVs into DataFrames

In [75]:
import glob
iowa_df = pd.concat(map(pd.read_csv, glob.glob("./iowa/*.csv")))
iowa_df = iowa_df.fillna(0)

In [76]:
iowa_df

           STATION                  NAME       DATE  PRCP  TOBS
0      USC00135650  MONTEZUMA 1 W, IA US   1/2/2014  0.08   0.0
1      USC00135650  MONTEZUMA 1 W, IA US  1/14/2014  0.05   0.0
2      USC00135650  MONTEZUMA 1 W, IA US  1/21/2014  0.06   0.0
3      USC00135650  MONTEZUMA 1 W, IA US   2/5/2014  0.22   0.0
4      USC00135650  MONTEZUMA 1 W, IA US  2/13/2014  0.02   0.0
...            ...                   ...        ...   ...   ...
92829  USC00130200     AMES 8 WSW, IA US  9/22/2019  0.96  63.0
92830  USC00130200     AMES 8 WSW, IA US  9/27/2019  0.06  66.0
92831  USC00130200     AMES 8 WSW, IA US  9/28/2019  0.09  68.0
92832  USC00130200     AMES 8 WSW, IA US  9/29/2019  0.38  68.0
92833  USC00130200     AMES 8 WSW, IA US  9/30/2019  0.04  87.0

[641580 rows x 5 columns]

In [77]:
iowa_df.dtypes

STATION     object
NAME        object
DATE        object
PRCP       float64
TOBS       float64
dtype: object

In [84]:
iowa_transformed = iowa_df.groupby(['STATION']).mean()

In [85]:
iowa_transformed

                 PRCP  TOBS
STATION
US1IAAL0004  0.167129   0.0
US1IAAL0005  0.145805   0.0
US1IAAL0006  0.143371   0.0
US1IAAP0004  0.297528   0.0
US1IAAP0007  0.162941   0.0
...               ...   ...
USW00094971  0.088246   0.0
USW00094982  0.114829   0.0
USW00094988  0.101530   0.0
USW00094989  0.120333   0.0
USW00094991  0.113864   0.0

[560 rows x 2 columns]

In [87]:
# Rename the column headers
iowa_transformed = iowa_transformed.rename(columns={"STATION": "Station",
                                                          "PRCP": "Precipitation",
                                                          "TOBS": "Temp_of_observation "})
iowa_transformed.head()

             Precipitation  Temp_of_observation
STATION
US1IAAL0004       0.167129                   0.0
US1IAAL0005       0.145805                   0.0
US1IAAL0006       0.143371                   0.0
US1IAAP0004       0.297528                   0.0
US1IAAP0007       0.162941                   0.0

In [ ]:
###Create database connection